# python
*.pyc
__pycache__/
__marimo__/
src/welltrack_lab.egg-info/

# uv locked dependencies
uv.lock

# python virtualenv
.venv/

# build artifacts
build/
dist/

# jules artifacts
jules-scratch/

# Editor-specific
.idea/
.vscode/
*.swp
*.swo
*~

# logs
dev_server.log
